.slideUp {
  animation-name: slideUp;
  -webkit-animation-name: slideUp;
  -moz-animation-name: slideUp;

  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;

  transition-timing-function: linear;
  -webkit-transition-timing-function: linear; /* Safari and Chrome */
  -moz-transition-timing-function: linear;
}
@keyframes slideUp {
  from {
    transform: translateY(100vh);
  }
  to {
    transform: translateY(0);
  }
}

@-webkit-keyframes slideUp {
  from {
    -webkit-transform: translateY(100vh);
  }

  to {
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes slideUp {
  from {
    -moz-transform: translateY(100vh);
  }

  to {
    -moz-transform: translateY(0);
  }
}
