.slideUp {
  animation: slideUpwards 1s;
  -webkit-animation: slideUpwards 1s;
  -moz-animation: slideUpwards 1s;

  transition-timing-function: linear;
  -webkit-transition-timing-function: linear; /* Safari and Chrome */
  -moz-transition-timing-function: linear;
}

@keyframes slideUpwards {
  from {
    transform: translateY(70vh);
  }
  to {
    transform: translateY(0);
  }
}

@-webkit-keyframes slideUpwards {
  from {
    -webkit-transform: translateY(70vh);
  }

  to {
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes slideUpwards {
  from {
    -moz-transform: translateY(70vh);
  }

  to {
    -moz-transform: translateY(0);
  }
}
