.slideUp {
  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;

  animation-name: slideUp;
  -webkit-animation-name: slideUp;

  -webkit-transition-timing-function: linear; /* Safari and Chrome */
  transition-timing-function: linear;
}

@keyframes slideUp {
  from {
    margin-top: 200%;
    height: 500%;
  }

  to {
    margin-top: 0%;
    height: 100%;
  }
}
