.intro {
  background-image: linear-gradient(135deg,
    rgba(7,160,187,0.8) 0%, rgba(44,133,110,0.3) 54%,
    rgba(51,128,94,0.3) 65%, rgba(51,128,94,0.7) 100%),
    url(../../img/banner-background.jpeg);

  background-image: -moz-linear-gradient(-45deg,
    rgba(7,160,187,0.8) 0%, rgba(44,133,110,0.3) 54%,
    rgba(51,128,94,0.3) 65%, rgba(51,128,94,0.7) 100%),
    url(../../img/banner-background.jpeg);

  background-image: -webkit-linear-gradient(-45deg,
    rgba(7,160,187,0.8) 0%, rgba(44,133,110,0.3) 54%,
    rgba(51,128,94,0.3) 65%, rgba(51,128,94,0.7) 100%),
    url(../../img/banner-background.jpeg);

  background-image: -o-linear-gradient(-45deg,
    rgba(7,160,187,0.8) 0%, rgba(44,133,110,0.3) 54%,
    rgba(51,128,94,0.3) 65%, rgba(51,128,94,0.7) 100%),
    url(../../img/banner-background.jpeg);

  background-repeat: no-repeat;
  background-position: bottom center;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.brand-heading {
  text-align: left !important;
  margin-bottom: 20px;
}
.brand-heading span {
  opacity: 0.8;
}
.brand-heading strong{
  opacity: 0.9;
}
.calls-to-action{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0.9;
  padding: 5px 10px;
  transition: color 0.5s, opacity 0.3s
}
.calls-to-action:hover {
  opacity: 1;
  color: white;
}
.calls-to-action > a {
  color: white;
}
.banner-icons{
  font-size: 60px;
  margin-bottom: 5px;
  text-shadow: 7px 5px 13px rgba(250,250,250,0.5);
}
.banner-text {
  font-weight: bolder;
}

#down-arrow{
  position: absolute;
  bottom: 150px;
}
#blurred-bar {
  margin-top: 10px;
  padding: 5px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(119,201,212,0.5);
}

#blurred-bar p {
  margin-bottom: 5px;
}
.partners h4 {
  margin: 10px auto;
}
@media (min-width: 768px){
  .brand-heading {
    margin-bottom: 100px;
  }
  #blurred-bar {
    background: url(../../img/banner-background-blurred.jpg) no-repeat;
    background-position: bottom left;
    background-size: cover;
  }
}
