.banner-icons{
  font-size: 50px;
  margin-bottom: 5px;
}
.brand-heading {
  text-align: left !important;
  margin-bottom: 20px;
}
.brand-heading span {
  opacity: 0.8;
}
.brand-heading strong{
  opacity: 0.9;
}
.calls-to-action{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0.8;
  padding: 5px 10px;
  transition: color 0.5s, opacity 0.3s
}
.calls-to-action:hover {
  opacity: 1;
  color: white;
}
.calls-to-action > a {
  color: white;
}
.banner-text {
  font-weight: bolder;
}

#down-arrow{
  position: absolute;
  bottom: 150px;
}
#blurred-bar {
  margin-top: 10px;
  padding: 5px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(119,201,212,0.5);
}

#blurred-bar p {
  margin-bottom: 5px;
}
.partners h4 {
  margin: 10px auto;
}
@media (min-width: 768px){
  .brand-heading {
    margin-bottom: 100px;
  }
  #blurred-bar {
    background: url(../../img/banner-background-blurred.jpg) no-repeat;
    background-position: bottom left;
    background-size: cover;
  }
}
