.btn-transparent {
  border: 2px solid white;
  border-radius: 5px;
  margin: 10px 0;
  max-width: 50%;
  margin: 10px auto;
}
@media (min-width: 780px) {
  .btn-transparent {
    min-width: 30%;
  }
}
.btn-transparent:hover{
  color: rgb(150,150,150);
  border: 2px solid rgb(170,170,170);
}
.btn-green {
  background-color: #015249;
  color: white;
  border-radius: 10px;
  font-size: 20px;
  transition: color 0.2s;
}
.btn-green:hover {
  background-color: #57BC90;
  color: white;
}
