.carousel-image {
  max-height: 583px;
  max-width: 350px;
}
@media (min-width: 768px){
  .carousel-image {
    max-height: 1000px;
    max-width: 600px;
  }
  .carousel-caption {
    bottom: 0
  }
}
.carousel-inner {
  padding-bottom: 35px;
}
.carousel-image-div {
  position: relative;
}
.carousel-caption {
  position: absolute;
  color: rgba(150,150,150,0.7);
  font-weight: bolder;
  text-shadow: none;
  top: -25px;
}
.carousel-control {
  background-image: none !important;
}
#how-it-works-carousel .carousel-control span {
  color: #015249;
}
#how-it-works-carousel .carousel-indicators {
  bottom: 20px;
}
.carousel-indicators > li {
  border: 1px solid rgb(120,120,120);
  background-color: rgb(120,120,120);
  margin: 5px 3px;
}
.carousel-indicators .active {
  border: 1px solid rgb(20,20,20);
  background-color: rgb(20,20,20);
  margin: 5px 3px;
}
#financial-inclusion-carousel {
  margin-top: 50px;
}
#financial-inclusion-carousel .carousel-control span {
  color: #015249;
}
#financial-inclusion-carousel .carousel-inner {
  padding-bottom: 150px;
}
#financial-inclusion-carousel .carousel-indicators {
  bottom: 50px !important;
}
p#looking-bright {
  margin-top: 10px;
  color: #77C9D4;
}
.item {
  margin: 0 auto;
}
.outstanding-loans-slide {
  min-height: 250px;
  margin-top: 50px;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
@media (min-width: 768px) {
  .outstanding-loans-slide {
    margin-left: 0;
    width: 80%;
  }
}
