.carousel-image {
  max-height: 1000px;
  max-width: 600px;
}
.carousel-inner {
  padding-bottom: 20px;
}
.carousel-image-div {
  position: relative;
}
.carousel-caption {
  position: absolute;
  color: rgba(150,150,150,0.7);
  font-weight: bolder;
  text-shadow: none;
  bottom: 5px;
}
.carousel-control {
  background-image: none !important;
}
.carousel-control span {
  color: rgba(200,200,200,0.7);
}
.carousel-indicators > li {
  border: 1px solid rgb(100,100,100);
}
.carousel-indicators .active {
  background-color: rgb(170,170,170);
}
