.wrapper-white {
  background-color: white;
  position: relative;
}
#how-it-works {
  color: black;
}
.wrapper-footprint-section {
  background: url('../../img/pexels-photo.jpg') no-repeat top scroll;
  position: relative;
  background-size: cover;
  min-height: 500px;
}
@media (min-width: 780px) {
  .wrapper-footprint-section{
    background-size: cover;
    position: relative;
    min-height: 95vh;
  }
}
.footprint-text{
  background-color: rgba(170,170,170,0.4);
  padding: 10px;
  border-radius: 3px;
  margin: 20px 0;
}
.footprint-text p {
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 0;
}
#financial-inclusion {
  color: rgb(210,210,210);
}
#financial-inclusion p {
  color: rgb(180,180,180);
}

.wrapper-green {
  background: #57BC90;
  position: relative;
}
.features p {
  font-size: 15px;
}
