.wrapper-white {
  background-color: white;
  position: relative;
  color: black;
}
.wrapper-green {
  background: #57BC90;
  position: relative;
}
.wrapper-footprint-section {
  background: url('../../img/pexels-photo.jpg') no-repeat top scroll;
  position: relative;
  background-size: cover;
  min-height: 100vh;
}
@media (min-width: 780px) {
  .wrapper-footprint-section{
    background-size: cover;
    position: relative;
    min-height: 100vh;
  }
}
.content-section h2 {
  color: #015249;
}
#footprint h2 {
  color: #A5A5AF;
  text-shadow: 0 1px rgb(180,180,180);
}
.footprint-text{
  background-color: rgba(165,165,175,0.7);
  padding: 10px;
  border-radius: 3px;
  margin: 50px 0;
}
.footprint-text p {
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 0;
}
#reporting p, #contact p {
  color: white;
}
.features {
  padding: 50px 0;
}
.features img {
  color: #015249;
  margin-bottom: 30px;
  height: 90px;
}
.features p {
  font-size: 14px;
}
