/*Default pie chart*/
.progress-pie-chart {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: white;
  position: relative;
}
.progress-pie-chart.gt-50 {
  background-color: #015249;
}

.ppc-progress {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 100px);
  top: calc(50% - 100px);
  width: 200px;
  height: 200px;
  clip: rect(0, 200px, 200px, 100px);
}
.ppc-progress .ppc-progress-fill {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 100px);
  top: calc(50% - 100px);
  width: 200px;
  height: 200px;
  clip: rect(0, 100px, 200px, 0);
  background: #015249;
  transform: rotate(60deg);
}
.gt-50 .ppc-progress {
  clip: rect(0, 100px, 200px, 0);
}
.gt-50 .ppc-progress .ppc-progress-fill {
  clip: rect(0, 200px, 200px, 100px);
  background: white;
}

.ppc-percents {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 173.91304px/2);
  top: calc(50% - 173.91304px/2);
  width: 173.91304px;
  height: 173.91304px;
  background: #fff;
  text-align: center;
  display: table;
}
.ppc-percents span {
  display: block;
  font-size: 2em;
  color: #015249;
}

.pcc-percents-wrapper {
  display: table-cell;
  vertical-align: middle;
}

body {
  font-family: Arial;
  background: #f7f7f7;
}

.progress-pie-chart, .progress-pie-chart-green {
  margin: 50px auto 0;
}
.progress-pie-chart.blue.gt-50, .progress-pie-chart.blue.ppc-progress-fill {
  background-color: #77C9D4;
}
.progress-pie-chart.blue .ppc-percents span {
  color: #77C9D4;
}
h5.dark-green {
  color: #015249;
  font-size: 2em;
  font-weight: normal;
}
.radial-header {
  margin-top: 5px;
  margin-bottom: 0;
  font-size: 1em;
  color: #015249;
}
